<div class="question-list">
  <div class="question-list-title">
    <%= link_to question.title.truncate(20), question_path(question.id), class: "question" %>
  </div>
  <div class="size-eighteen">
    <%= link_to "#{question.text.truncate(150)} 続きを読む", question_path(question.id), class: "question"%>
  </div>
  <div class="question-image">
    <% if question.image.present? %>
      <div class="image-presence">
        画像あり<%= image_tag "camera.PNG", size: '30x30' %>
      </div>
    <% end %>
  </div>
  <div class="posted-by">
    <% if question.user == current_user %>
      <%= link_to "あなた", profile_path(current_user.id), class: "posted-by" %>
    <% else %>
      <%= link_to "#{question.user.nickname}さん", profile_path(question.user.id), class: "posted-by" %>
    <% end %>
  </div>
</div>