<%= render "shared/header" %>

<div class='home-main'>

  <div class="home-top-image">
    <%= image_tag 'NY.jpg' %>
    <p>Wyvez
    <br>性転換系女子のための
    <br>男と美の管理アプリ
    </p>
  </div>
  <div class="margin">
  
    <div class="about-wyvez">
      <h1>
      Wyvez
      </h1> 
      <div class="wyvez-explanation">
        <p>
          Wyvez（ワイブズ）は、女性として生きていく方達ならではの悩み、手術やパパ活の予定管理をサポートします。
        </p>
        <br>既に性転換をした方はもちろんのこと、国籍上は男性だけど心は女性という方にもお使いいただけるアプリとなっております。
        <br>内容に関しては、ログインなしでも投稿された質問内容やそれに対するコメントを閲覧できます。
        <br>質問投稿機能やその他管理機能をご利用したい方は<%= link_to '新規登録', new_user_registration_path %>をお願いいたします。
      </div>
    </div>

    <div class="function-contents">
      <h2 class="title">
        ご利用いただける機能
      </h2>
      <ul class="function-lists">
        <li class="list">
          <h3 class='function-list-text'>
            質問をする
          </h3>
          <p class='function-list-description'>
            女性ならではの悩みを質問・コメントで考えをシェアできます。
          </p>
        </li>
        <li class="list">
          <h3 class='function-list-text'>
            質問をブックマークする
          </h3>
          <p class='function-list-description'>
            お気に入りの質問を保存して、内容を振り返ることができます。
          </p>
        </li>
        <li class="list">
          <h3 class='function-list-text'>
            美容スケジュールを管理する
          </h3>
          <p class='function-list-description'>
            女性にとって欠かせない美容施術のスケジュールを管理できます。
          </p>
        </li>
        <li class="list">
          <h3 class='function-list-text'>
            パパの管理、パパ活のスケジュールを管理する
          </h3>
          <p class='function-list-description'>
            パパ活における、あなた専属のパパとそのスケジュールを管理できます。
          </p>
        </li>
        <li class="list">
          <h3 class='function-list-text'>
            プロフィールを管理する
          </h3>
          <p class='function-list-description'>
            性転換歴・パパ活歴に加えて、あなただけのプロフィールを画像付きで作成できます。
          </p>
        </li>
      </ul>
    </div>

    <div class="purpose">
      <h2 class="title">
        目的
      </h2>
      <ul class="purpose-lists">
        <li class="list">
          <h3 class='purpose-list-text'>
            トランス女性向けのコンテンツを世に増やす、認知させる
          </h3>
        </li>
        <li class="list">
          <h3 class='purpose-list-text'>
            トランス女性特有の美容関係のスケジュールをひとまとめに管理する
          </h3>
        </li>
        <li class="list">
          <h3 class='purpose-list-text'>
            女性だからこそできるパパ活を管理する
          </h3>
        </li>
        <p class='purpose-list-description'>
          以前と比べてLGBTという単語は認知されつつあります。中でも、ゲイやレズビアン、バイセクシュアルは皆さんご存知かと思います。しかし、トランス女性向けのコンテンツを提供するサイトやアプリケーションはあまりにも少ないです。
          仲間内に打ち明けられない悩み、同性にしかわからない質問を、同性同士で質問やコメントを通して解決の糸口を見いだして欲しいと考えています。また、女性になったからこその楽しみがあると思います。
          <br>
          <br>
          <div class="emphasize-text">
            より美しい女性になるための手術・ホルモン注射・美容整形・その他ビューティーサロン
          </div>
          <br>
          <div class="emphasize-text">
            女性だからこそできるお仕事、パパ活
          </div>
          <br>
          <br>わずかに存在する潜在的ニーズに焦点を当て、トランス女性がより快適に暮らしていけることを願っています。
        </p>
      </ul>
    </div>
  </div>
</div>

<%= render "shared/question-btn" %>

<%= render "shared/footer" %>