<%= render "shared/header" %>

<div class="margin">
  <div class="title">
    ブックマークリスト
  </div>

  <% @bookmarks.each  do |bookmark| %>
    <div class="bookmark">
      <div class="question-list">
        <div class="question-list-title">
          <%= link_to "#{bookmark.question.title.truncate(20)}", question_path(bookmark.question.id), class: "question" %>
        </div>
        <div class="question-content">
          <div class="size-eighteen">
            <%= bookmark.question.text.truncate(150) %><%= link_to " 続きを読む", question_path(bookmark.question.id), class: "question"%>
          </div>
        </div>
        <div class="question-image">
          <% if bookmark.question.image.present? %>
            <div class="image-presence">
              画像あり<%= image_tag "camera.PNG", size: '30x30' %>
            </div>
          <% end %>
        </div>
        <div class="posted-by">
          <%= link_to "#{bookmark.question.user.nickname}さん", profile_path(bookmark.question.user), class: "posted-by" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/question-btn" %>

<%= render "shared/second_footer" %>