<header class='top-header'>
  <div class='header-margin'>
    <div class='wyvez-logo'>
      <%= link_to image_tag('wyvez-logo.PNG', class: 'wyvez-logo'), "/" %>
    </div>

    <% if user_signed_in? %>
      <div class='wyvez-menu'>
        <div class="btn-group">
        <ul class='menu-lists'>
          <li><%= link_to '質問一覧', questions_path, class: "button" %></li>
          <li><%= link_to 'ブックマークリスト', question_bookmarks_path(current_user.id), class: "button" %></li>
          <li><%= link_to '美容スケジュール', beauty_event_path(current_user.id), class: "button" %></li>
          <li><%= link_to 'パパリスト', papa_path(current_user.id), class: "button" %></li>
        </ul>
        </div>

        <div class='user-info'>
          <%= "#{current_user.nickname}でログイン中" %>
          <% if current_user.profile && current_user.profile.image.present? %>
            <div class='user-image'>
              <%= image_tag current_user.profile.image.variant(resize: '80x80'), class: "image"  %>
            </div>
          <% else %>
            <div class='guest-image'>
              <%= image_tag 'guest.PNG', class: 'hoge' %>
            </div>
          <% end %>

          <ul class='user-menu'>
            <li><%= link_to 'プロフィール', profile_path(current_user.id), class: "list" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "list" %></li>
          </ul>
          <% else %>
          <div class='wyvez-menu'>
            <div class="btn-group">
              <ul class='menu-lists'>
                <li><%= link_to '質問一覧', questions_path, class: "button" %></li>
              </ul>
            </div>
            <div class="login-signup">
              <div class="btn-group">
                <ul class='menu-lists'>
                  <li><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "button" %></li>
                  <li><%= link_to 'ログイン', new_user_session_path, class: "button" %></li>
                  <li><%= link_to '新規登録', new_user_registration_path, class: "button" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</header>