<%= render "shared/header" %>

<div class="margin">
  <div class="title">
    美容スケジュール
  </div>
  
  <div class="new-edit-update-btn">
    <%= link_to "美容スケジュールを作成する", new_beauty_event_path %>
  </div>

  <div>
  </div>

  <div class="beauties">
  <% @beauty_events.each do |beauty| %>
    <div class="beauty">
      <ul>
        <div class="size-twenty-four">
          美容カテゴリ
        </div>
        <div class="size-eighteen">
          <%= "#{beauty.beauty_cate.name}" %>
        </div>
        <div class="size-twenty-four">
          予約日時
        </div>
        <div class="size-eighteen">
          <%= "#{beauty.started_at}"%>
        </div>
        <div class="size-twenty-four">
          場所
        </div>
        <div class="size-eighteen">
          <%= "#{beauty.place}" %>
        </div>
        <div class="size-twenty-four">
          メモ
        </div>
        <div class="size-eighteen">
          <%= "#{beauty.memo}" %>
        </div>
        <div class="size-twenty-four">
          施術コスト
        </div>
        <div class="size-eighteen">
          <%= "#{beauty.cost}" %>
        </div>
        <div class="size-twenty-four">
          スケジュールの状態
        </div>
        <div class="size-eighteen">
          <%= "#{beauty.status.name}" %>
        </div>
      </ul>
      <div class="make-center">
        <% if user_signed_in? && current_user.id == beauty.user_id %>
          <%= link_to "編集する", edit_beauty_event_path(beauty.id), method: :get, class: "new-edit-update-btn"%>
          <%= link_to "削除する", beauty_event_path(beauty.id), method: :delete, class: "destroy-btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= render "shared/map" %>