<%= render "shared/header" %>

<div class="margin">
  <div class="title">
    美容スケジュール
  </div>
  
  <div class="new-edit-update-btn">
    <%= link_to "美容スケジュールを作成する", new_beauty_event_path %>
  </div>

  <div class="cost-info">
    <div class="all-cost">
      <%= "あなたが美容に費やした合計額" %>
      <br><b><div class="size-twenty-four"><%= "#{@beauty_events.all.sum(:cost)}円" %></b></div>
    </div>
  </div>

  <div class="events">
    <% @beauty_events.each do |beauty| %>
      <div class="event">
        <div class="size-twenty-two">
          美容カテゴリ
        </div>
        <div class="size-sixteen">
          <%= "#{beauty.beauty_cate.name}" %>
        </div>
        <div class="size-twenty-two">
          予約日時
        </div>
        <div class="size-sixteen">
          <%= "#{beauty.started_at}"%>
        </div>
        <div class="size-twenty-two">
          場所
        </div>
        <div class="size-sixteen">
          <%= "#{beauty.place}" %>
        </div>
        <div class="size-twenty-two">
          メモ
        </div>
        <div class="size-sixteen">
          <%= "#{beauty.memo}" %>
        </div>
        <div class="size-twenty-two">
          施術コスト
        </div>
        <div class="size-sixteen">
          <%= "#{beauty.cost}円" %>
        </div>
        <div class="size-twenty-two">
          スケジュールの状態
        </div>
        <div class="size-sixteen">
          <%= "#{beauty.status.name}" %>
        </div>
        <div class="make-center">
          <% if user_signed_in? && current_user.id == beauty.user_id %>
            <%= link_to "編集する", edit_beauty_event_path(beauty.id), method: :get, class: "new-edit-update-btn"%>
            <%= link_to "削除する", beauty_event_path(beauty.id), method: :delete, class: "destroy-btn" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/map" %>

<%= render "shared/second_footer" %>