<%= render "shared/header" %>

<div class="margin">
  <div class="title">
    パパ活スケジュール
  </div>

  <div class="new-edit-update-btn">
    <%= link_to "パパ活スケジュールを作成する", new_papa_papa_event_path %>
  </div>

  <div class="cost-info">
    <div class="all-cost">
      <%= "あなたがパパ活で稼いだ合計額" %>
      <br><b><div class="size-twenty-four"><%= "#{@papa_events.all.sum(:reward)}円" %></b></div>
    </div>
  </div>

  <div>
    <%= render "shared/map" %>
  </div>

  <div class="events">
    <% @papa_events.each do |event| %>
      <div class="event">
        <div class="make-center">
        <div class="size-twenty-four">
          <%= "#{event.papa.name}さん" %>
        </div>
        </div>
        <div class="size-twenty-two">
          アプリ
        </div>
        <div class="size-sixteen">
          <%= "#{event.papa.app_name}" %>
        </div>
        <div class="size-twenty-two">
          開始日
        </div>
        <div class="size-sixteen">
          <%= "#{event.started_at}"%>
        </div>
        <div class="size-twenty-two">
          終了日
        </div>
        <div class="size-sixteen">
          <%= "#{event.finished_at}" %>
        </div>
        <div class="size-twenty-two">
          やること
        </div>
        <div class="six-teen">
          <%= "#{event.do_what.name}" %>
        </div>
        <div class="size-twenty-two">
          todo
        </div>
        <div class="size-sixteen">
          <%= "#{event.todo}" %>
        </div>
        <div class="size-twenty-two">
          場所
        </div>
        <div class="size-sixteen">
          <%= "#{event.place}" %>
        </div>
        <div class="size-twenty-two">
          見込み報酬額
        </div>
        <div class="size-sixteen">
          <%= "#{event.expected_reward}" %>
        </div>
        <div class="size-twenty-two">
          報酬
        </div>
        <div class="size-sixteen">
          <%= "#{event.reward}" %>
        </div>
        <div class="size-twenty-two">
          スケジュールの状態
        </div>
        <div>
          <%= "#{event.status.name}" %>
        </div>
        <div class="make-center">
          <% if user_signed_in? && current_user.id == event.user_id %>
            <%= link_to "編集する", edit_papa_papa_event_path(event.papa_id, event.id), method: :get, class: "new-edit-update-btn" %>
            <%= link_to "削除する", papa_papa_event_path(event.papa_id, event.id), method: :delete, class: "destroy-btn" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/second_footer" %>